mat-sidenav-container {
  height: 100%;
  font-family: Mali, cursive !important;
}

mat-sidenav {
  width: 200px;
  font-family: Mali, cursive !important;
}

mat-toolbar {
  /* background-color: #f44336;
  color: white; */
  font-family: Mali, cursive !important;
}

mat-nav-list {
  font-family: Mali, cursive !important;
}

mat-card {
  border-radius: 10px;
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
  /* font-family: Roboto, sans-serif; */
  font-family: Mali, cursive !important;
}

.content {
  margin: 2%;
}

.prognamecard {
  background-color: #f7fbfd !important;
  font-family: Mali, cursive !important;

}
.text-progname{
  margin: 15px 10px 0px;
}
