<div class="content-dialog">
  <mat-card class="card-header">
    <mat-card-content>
      <!-- <h4>ข้อมูลใบเสนอราคา</h4> -->
      <p class="h4">ข้อมูล Project</p>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="savedata()">บันทึก</button>
      <button mat-raised-button color="warn" (click)="dialogRef.close()">ยกเลิก</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-content>
      <div class="d-flex justify-content-between">
        <div class="mb-3">
          <label for="inputAddress" class="form-label">Project</label>
          <input type="text" class="form-control" [(ngModel)]="dataproject.project_name">
        </div>
        <div class="mb-3">
          <label for="inputAddress" class="form-label">วันที่เริ่มงาน</label>
          <input type="date" class="form-control" [(ngModel)]="dataproject.project_start_date">
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="mb-3">
          <label for="inputAddress" class="form-label">มูลค่างาน</label>
          <input type="number" class="form-control" [(ngModel)]="dataproject.project_value">
        </div>
        <div class="mb-3">
          <label for="inputAddress" class="form-label">สถานะ</label>
          <select class="form-select" [(ngModel)]="dataproject.project_status">
            <option value="ยังไม่เริ่มดำเนินงาน">ยังไม่เริ่มดำเนินงาน</option>
            <option value="กำลังดำเนินงาน">กำลังดำเนินงาน</option>
            <option value="แล้วเสร็จ">แล้วเสร็จ</option>
          </select>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
