<div class="content">
  <div class="row">
    <div class="col-xl-12 col-md-12 mb-4">
      <mat-card>
        <mat-card-header>
          <p class="h4">เป้าหมายปี 2566 ที่ {{progress.target}} Project</p><img width="70" height="70" src="../../assets/images/running.gif" alt="Your GIF" />
        </mat-card-header>
        <mat-card-content>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.aria-valuenow]="progress.percent" aria-valuemin="0" aria-valuemax="100" [style.width]="progress.percent + '%'">{{progress.now}}</div>
          </div>
          <!-- <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width]="progress + '%'" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
          </div> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- <div class="row">

    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                ยอดขายปีนี้</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">฿ 2,390,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                ยอดขายประจำเดือน</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">฿ 600,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                ค่าใช้จ่ายประจำเดือน (ทุกประเภท)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">฿ 67,800</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                ค่าใช้จ่ายประจำเดือน (ค่าแรง)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">฿ 25,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                ค่าใช้จ่ายประจำเดือน (ซื้อของ)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">฿ 11,500</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                ค่าใช้จ่ายประจำเดือน (ใช้จ่ายส่วนตัว)</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">฿ 26,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                Project ที่กำลังดำเนินการ</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Project ที่แล้วเสร็จประจำปี</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">2</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-xl-12 col-md-12 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <!-- <iframe width="100%" height="500px" [frameBorder]="0" src="http://203.159.94.148:18080/superset/dashboard/p/3J0AezPL5wx/" title="description"></iframe> -->
          <iframe width="100%" height="700px" [frameBorder]="0" src="https://charts.mongodb.com/charts-express-api-ppdpz/public/dashboards/647eee30-e025-4c86-8ae5-73fb567daf77" title="description"></iframe>
          <!-- <iframe style="background: #F1F5F4;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);width: 100vw;height: 100vh;"  src="https://charts.mongodb.com/charts-express-api-ppdpz/embed/dashboards?id=647eee30-e025-4c86-8ae5-73fb567daf77&theme=light&autoRefresh=true&maxDataAge=3600&showTitleAndDesc=true&scalingWidth=scale&scalingHeight=scale"></iframe>        </div> -->
      </div>
    </div>
  </div>
</div>
