/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Mali, cursive !important; }
.mat-stepper-vertical, .mat-stepper-horizontal {
  font-family: Mali, cursive !important;
}
mat-card{
  border-radius: 10px;
}
.mat-mdc-dialog-container .mdc-dialog__title {
  font-family: Mali, cursive !important;
}
.mat-mdc-dialog-container .mdc-dialog__content {
  font-family: Mali, cursive !important;
}

.content{
  margin: 2%;
}

.content-dialog{
  margin: 2%;
}

.card-header{
  background-color: #6775c6b5;
}
