<div class="content">
  <div class="d-flex justify-content-between">
    <div class="mb-3">

    </div>
    <div class="mb-3">
      <mat-card class="prognamecard">
        <mat-card-content>
          <h4>บันทึกค่าใช้จ่าย</h4>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br>
  <div class="d-flex justify-content-between">
    <div class="mb-3">
      <button class="mb-2" mat-raised-button color="primary" (click)="selectData()">ดึงข้อมูล</button>
    </div>
    <div class="mb-3">
      <button class="mb-2" mat-raised-button color="primary" (click)="openDialog(null)">เพิ่ม ค่าใช้จ่าย</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-2 col-md-1 mb-4">

    </div>
    <div class="col-xl-3 col-md-4 mb-4">
      <!-- <label for="inputAddress" class="form-label">Project</label>
      <select class="form-select" [(ngModel)]="dataquery.project">
        <option *ngFor="let item of dataproject" value="{{item._id}}">{{item.project_name}}</option>
      </select> -->
    </div>
    <div class="col-xl-2 col-md-2 mb-4">
      <label for="inputAddress" class="form-label">ปี</label>
      <select class="form-select" [(ngModel)]="dataquery.year">
        <option value="{{null}}">ทุกปี</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
      </select>
    </div>
    <div class="col-xl-3 col-md-4 mb-4">
      <label for="inputAddress" class="form-label">เดือน</label>
      <select class="form-select" [(ngModel)]="dataquery.month">
        <option value="{{null}}">ทุกเดือน</option>
        <option value="01">มกราคม</option>
        <option value="02">กุมภาพันธ์</option>
        <option value="03">มีนาคม</option>
        <option value="04">เมษายน</option>
        <option value="05">พฤษภาคม</option>
        <option value="06">มิถุนายน</option>
        <option value="07">กรกฏาคม</option>
        <option value="08">สิงหาคม</option>
        <option value="09">กันยายน</option>
        <option value="10">ตุลาคม</option>
        <option value="11">พฤศจิกายน</option>
        <option value="12">ธันวาคม</option>
      </select>
    </div>
    <div class="col-xl-2 col-md-1 mb-4">

    </div>
  </div>
  <mat-card>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="NO">
        <th mat-header-cell *matHeaderCellDef> ลำดับ. </th>
        <td mat-cell *matCellDef="let element;let i = index;"> {{i+1}} </td>
      </ng-container>

      <ng-container matColumnDef="expense_detail">
        <th mat-header-cell *matHeaderCellDef> ค่าใช้จ่าย. </th>
        <td mat-cell *matCellDef="let element;let i = index;"> {{element.expense_detail}} </td>
      </ng-container>

      <ng-container matColumnDef="expense_date">
        <th mat-header-cell *matHeaderCellDef> วันที่จ่าย. </th>
        <td mat-cell *matCellDef="let element;let i = index;"> {{ element.expense_date | date:'mediumDate' }} </td>
      </ng-container>


      <ng-container matColumnDef="expense_value">
        <th mat-header-cell *matHeaderCellDef> มูลค่า. </th>
        <td mat-cell *matCellDef="let element;let i = index;"> {{element.expense_value | currency:'฿ '}} </td>
      </ng-container>

      <ng-container matColumnDef="expense_group">
        <th mat-header-cell *matHeaderCellDef> ประเภท. </th>
        <td mat-cell *matCellDef="let element;let i = index;"> {{element.expense_group }} </td>
      </ng-container>

      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef> project. </th>
        <td mat-cell *matCellDef="let element;let i = index;"> {{element.project }} </td>
      </ng-container>

      <ng-container matColumnDef="manage">
        <th mat-header-cell *matHeaderCellDef>จัดการ</th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="primary" (click)="openDialog(element._id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="delete(element._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
  </mat-card>

</div>
