mat-sidenav-container {
  height: 90%;
  font-family: Mali, cursive !important;
}

mat-sidenav {
  width: 200px;
  font-family: Mali, cursive !important;
}

mat-sidenav-content {
  background: linear-gradient(0deg, rgba(5, 38, 89, 1) 0%, rgba(193, 232, 255, 1) 100%);
}

mat-toolbar {
  font-family: Mali, cursive !important;
  background: #052659;
  color: #fff;

}

mat-nav-list {
  font-family: Mali, cursive !important;
}

mat-card {
  border-radius: 10px;
}

.mat-mdc-list-base {
  font-family: Mali, cursive !important;
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
  /* font-family: Roboto, sans-serif; */
  font-family: Mali, cursive !important;
}

.example-spacer {
  flex: 1 1 auto;
}