<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Happyhome</span>
  <span class="example-spacer"></span>
  <span>{{userdata?.first_name}} {{userdata?.last_name}} <h4>(วันใช้งาน {{expiredate}} วัน)</h4></span>
  <button mat-icon-button (click)="signout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/home"><img width="20" height="20" src="../../../../assets/images/home.png" /> หน้าหลัก</a>
      <a mat-list-item routerLink="/quotation"><img width="20" height="20" src="../../../../assets/images/group.png" /> ใบเสนอราคา</a>
      <a mat-list-item routerLink="/construction-cost-cal"><img width="20" height="20" src="../../../../assets/images/budget.png"  /> คำนวนค่าก่อสร้าง</a>
      <a mat-list-item *ngIf="userdata.role == 'owner'" routerLink="/project"><img width="20" height="20" src="../../../../assets/images/engineering.png"  /> Project</a>
      <a mat-list-item *ngIf="userdata.role == 'owner'" routerLink="/expense"><img width="20" height="20" src="../../../../assets/images/budget2.png"  /> ค่าใช้จ่าย</a>
      <a mat-list-item *ngIf="userdata.role == 'owner'" routerLink="/manage-user"><img width="20" height="20" src="../../../../assets/images/group.png"  /> จัดการผู้ใช้งาน</a>
      <a mat-list-item target=”_blank” href="https://www.iloveimg.com/th/watermark-image">เพิ่มลายน้ำ</a>
      <a mat-list-item target=”_blank” href="https://www.watermarkremover.io/th">ลบลายน้ำ</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
