<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Happyhome</span>
  <span class="example-spacer"></span>
  <span>{{userdata.username}}</span>
  <button mat-icon-button (click)="signout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">หน้าหลัก</a>
      <a mat-list-item routerLink="/quotation">ใบเสนอราคา</a>
      <a mat-list-item routerLink="/manage-user">จัดการผู้ใช้งาน</a>
      <a mat-list-item routerLink="/project">Project</a>
      <a mat-list-item routerLink="/expense">ค่าใช้จ่าย</a>
      <!-- <a mat-list-item (click)="signout()" routerLink="/sessions/signin">ออกจากระบบ</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
