<div class="content">
  <div class="d-flex justify-content-between">
    <div class="mb-3"></div>
    <div class="mb-3">
      <mat-card class="prognamecard">
        <mat-card-content>
          <div class="d-flex justify-content-between">
            <div>
              <h4 class="text-progname">ข้อมูลใบเสนอราคา</h4>
            </div>
            <div>
              <img src="../../assets/images/clipboard.png" alt="" width="50" />
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <br />
  <button mat-raised-button color="primary" (click)="openDialog(null)">
    เพิ่มใบเสนอราคา
  </button>
  <br />
  <br />
  <mat-card>
    <table mat-table [dataSource]="quotationdata" class="mat-elevation-z8">
      <ng-container matColumnDef="NO">
        <th mat-header-cell *matHeaderCellDef>ลำดับ.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="quotation_code">
        <th mat-header-cell *matHeaderCellDef>เลขที่เอกสาร.</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ element.quotation_code }}
        </td>
      </ng-container>

      <ng-container matColumnDef="quotation_date">
        <th mat-header-cell *matHeaderCellDef>วันที่เอกสาร.</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ element.quotation_date | date : "mediumDate" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="customer_name">
        <th mat-header-cell *matHeaderCellDef>ชื่อลูกค้า.</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ element.customer_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>ยอดรวม.</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ element.total | currency : "฿ " }}
        </td>
      </ng-container>

      <ng-container matColumnDef="manage">
        <th mat-header-cell *matHeaderCellDef>จัดการ</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-mini-fab
            color="primary"
            (click)="openDialog(element._id)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="delete(element._id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-mini-fab color="accent" (click)="print()">
            <mat-icon>print</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
</div>
